[Download Dataset](https://www.kaggle.com/kaggle/sf-salaries)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('Salaries.csv')

In [ ]:
data

In [ ]:
sns.heatmap(data.isnull(), yticklabels=False)
plt.show()

In [ ]:
# data.dropna(inplace=True)

### 1.Display Top 10 Rows of The Dataset

In [ ]:
data.head(10)

### 2. Check Last 10 Rows of The Dataset

In [ ]:
data.tail(10)

### 3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [ ]:
data.shape

In [ ]:
print('NUMBER OF ROWS', data.shape[0])
print('NUMBER OF Columns', data.shape[1])

### 4. Getting Information About Our Dataset Like Total Number Rows, 
### Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [ ]:
data.info()

In [ ]:
len(data.columns)

In [ ]:
len(data)

### 5.Check Null Values In The Dataset

In [ ]:
data.notnull()

In [ ]:
data.isnull().sum()

In [ ]:
# x=['BasePay','OvertimePay','OtherPay','Benefits','Notes ','Status','Null']
# y=[609,4,4,36163,148654,148654,'7%']
# plt.pie(y,labels=x)
# plt.show()

### 6. Drop ID, Notes, Agency and Status Columns

In [ ]:
data=data.drop(['Id','Notes','Agency','Status'], axis=1)

In [ ]:
data

### 7. Get Overall Statistics About The Dataframe

In [ ]:
data.describe()

In [ ]:
data.describe(include='all')

### 8. Find Occurrence of The Employee NamesÂ  (Top 5)

In [ ]:
data.columns

In [ ]:
data['EmployeeName'].value_counts().head(5)

### 9. Find The Number of Unique Job Titles

In [ ]:
data.columns

In [ ]:
data['JobTitle']

In [ ]:
data['JobTitle'].nunique()

### 10. Total Number of Job Titles Contain Captain

In [ ]:
data.columns

In [ ]:
data['JobTitle']

In [ ]:
data[data['JobTitle'].str.contains(" CAPTAIN", case=False)]

In [ ]:
len(data[data['JobTitle'].str.contains(" CAPTAIN", case=False)])

In [ ]:
data[data['JobTitle'].str.contains(" CAPTAIN", case=False)].count

### 11. Display All the Employee Names From Fire Department

In [ ]:
data.columns

In [ ]:
data[data['JobTitle'].str.contains("FIRE DEPARTMENT",case=False)]['EmployeeName']

In [ ]:
len(data[data['JobTitle'].str.contains("FIRE DEPARTMENT",case=False)]['EmployeeName'])

In [ ]:
data[data['JobTitle'].str.contains("FIRE DEPARTMENT")]['EmployeeName'].head(10)

In [ ]:
data[data['JobTitle'].str.contains("FIRE DEPARTMENT",case=False)]['EmployeeName'].tail(10)

### 12. Find Minimum, Maximum and Average BasePay

In [ ]:
data.max()

In [ ]:
data.min()

In [ ]:
data.describe()

### 13. Replace 'Not Provided' in EmployeeName' Column to NaN

In [ ]:
data.columns

In [ ]:
data['EmployeeName']

In [ ]:
import numpy as np
data['EmployeeName'].replace('Not provided', np.NAN)

In [ ]:
data['EmployeeName']=data['EmployeeName'].replace('Not provided', np.NAN)

### 14. Drop The Rows Having 5 Missing Values

In [ ]:
data.isnull()

In [ ]:
data.drop(data[data.isnull().sum(axis=1)==5].index, axis=0, inplace=True)

In [ ]:
data.isnull().sum(axis=1)

### 15. Find Job Title of ALBERT PARDINI

In [ ]:
data.columns

In [ ]:
data['EmployeeName']

In [ ]:
data[data['EmployeeName'].str.contains('ALBERT PARDINI' ,case=False)]['JobTitle']

### 16. How Much ALBERT PARDINI Make (Include Benefits) ?Â

In [ ]:
data.columns

In [ ]:
data['Benefits']

In [ ]:
data[data['EmployeeName'].str.contains('ALBERT PARDINI',case=False)]

In [ ]:
data[data['EmployeeName'].str.contains('ALBERT PARDINI',case=False)]['TotalPayBenefits']

### 17. Display Name of The Person Having The Highest BasePay

In [ ]:
data.columns

In [ ]:
data['BasePay'].max()

In [ ]:
data[data['BasePay'].max()==data['BasePay']]['EmployeeName']

### 18. Find Average BasePay of All Employee Per Year

In [ ]:
data.columns

In [ ]:
data.groupby('Year').mean()['BasePay']

### 19. Find Average BasePay of All Employee Per JobTitle

In [ ]:
data.columns

In [ ]:
data.groupby('JobTitle').mean()['BasePay']

### 20. Find Average BasePay of Employee Having Job Title ACCOUNTANTÂ

In [ ]:
data.columns

In [ ]:
data['JobTitle']

In [ ]:
data[data['JobTitle']=='ACCOUNTANT']['BasePay']

### 21. Find Top 5 Most Common Jobs

In [ ]:
data.columns

In [ ]:
data['JobTitle'].value_counts().head()

In [ ]:
data.head(6)

## PROFIT EACH YEAR

In [ ]:
sns.barplot(y='TotalPayBenefits',x='Year',data=data)
plt.title("Profit by year")
plt.show()

In [ ]:
# x=data['TotalPayBenefits']
# y=data['Year']
# plt.pie(y,x)
# plt.title("Profit by year")
# plt.show()

In [ ]:
# sns.scatterplot(y='Benefits',x='Year',data=data)
# plt.show()

In [ ]:
data.dropna(inplace=True)

In [ ]:
sns.heatmap(data.isnull(), yticklabels=False)
plt.show()

## which year company pay most overtime salary

In [ ]:
data.columns

In [ ]:
sns.barplot(x= 'Year',y='OvertimePay',data=data)
plt.title("year company pay most overtime salary")
plt.show()

## top 5 person who got most overtime salary

In [ ]:
data.columns

In [ ]:
data.groupby('OvertimePay')['EmployeeName'].max().sort_index(ascending=False).head(5)

## top 5 person who got most overtime salary find job Title

In [ ]:
job_title=data.groupby('OvertimePay')[['EmployeeName','JobTitle']].max().sort_index(ascending=False).head(5)
job_title

In [ ]:
job_title.loc[:,['JobTitle']]

## Visiualize each year basepay, overtimepay, otherpay, Benefit, Totalpay, Total Benefits

In [ ]:
data.columns

In [ ]:
# sns.barplot(x='BasePay',y='Year',data=data)
# sns.barplot(x='OvertimePay',y='Year',data=data)
# sns.barplot(x='OtherPay',y='Year',data=data)
# sns.barplot(x='TotalPay',y='Year',data=data)
# sns.barplot(x='TotalPayBenefits',y='Year',data=data)
# plt.show()

In [ ]:
sns.barplot(x='BasePay',y='Year',data=data)
plt.show()

## =================